* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Etiquetas */

nav {
    display: flex;
    flex-direction: row;
    height: 20vh;
}


/* Id's */

#subcategoria1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subcategoria2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subcategoria3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Clases */

.containerCategoria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
}

.containerSub {
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.containerSub div {
    width: 100%;
}

.containerNav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 20vh;
}

.logo {
    width: 55%;
    height: auto;
}

.icon {
    width: 70%;
    height: auto;
}

.btnCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Agregar aquí sus clases con sus respectivos backgrounds, luego añadir al HTML en los DIV */

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}


/* Categorías */

.urbanizacion {
    background-image: url(../img/backgroundUrbanizacion.jpg);
}


/* Subcategorías */

.ciudades-japonesas {
    background-image: url(../img/urbanizacion/Tokio.jpg);
}

.distribucion-urbana {
    background-image: url(../img/urbanizacion/demografia.jpg);
}

.machizukuri {
    background-image: url(../img/urbanizacion/machi.png)
}