
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="subcategory">
        <h2>Subcategoría</h2>

        <section id="subCategoryArticles">
            <article>
                <div id="articleTitle">
                    <h3>Título</h3>
                </div>
                <div id="articleContent">

                </div>
            </article>
        </section>
    </div>



    <!-- Estructura para crear cards en subcategorias -->

    <!-- Si se quieren agregar más de 3 cards solo hay que copiar todo el contenido que muestra el div de la clase card -->

    <section id="subCategoryArticles">
    <article>
        <div class="containerCard">
            <div class="cardSub">
                <!-- Se agrega una imagen a la card -->
                <img src="" alt="">
                <h4>Aquí va el Titulo de la Card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, laboriosam!</p>
                <a href="#">Más información</a>
            </div>
    
            <div class="cardSub">
                <img src="" alt="">
                <!-- Se agrega una imagen a la card -->
                <h4>Aquí va el Titulo de la Card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, laboriosam!</p>
                <a href="#">Más información</a>
            </div>

            <div class="cardSub">
                <!-- Se agrega una imagen a la card -->
                <img src="" alt="">
                <h4>Aquí va el Titulo de la Card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nisi?</p>
                <a href="#">Más información</a>
            </div>

        </div>
    </article>
    </section>

</body>

</html>