<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/stylesheetSubcategoria.css">
</head>

<body>
    <div class="subcategory">
        <h2>Subcategoría</h2>

        <section id="subCategoryArticles">
            <article>
                <div id="articleTitle">
                    <h3>Título</h3>
                </div>
                <div id="articleContent">
                    <div>
                        <img src="../assets/img/inicioJapon.jpg" alt="">
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione esse sit consequatur accusantium pariatur atque ut quasi, eaque asperiores qui, nisi odit nobis doloribus quibusdam dolorem alias quo. Quo possimus temporibus laudantium cupiditate
                        pariatur beatae cumque ipsam ducimus enim porro, minus omnis ab quidem sapiente, consectetur recusandae vero delectus.
                    </div>
                </div>
            </article>
        </section>
    </div>

</body>

</html>